<nav class="navbar navbar-expand-lg navbar-dark mb-3">
    <div class="test-h" >
        <a class="navbar-brand display-1 brand"> Todolily </a>

          <span class="nav-item">
            <a class="nav-link" [ngClass]="{'active': nightMode }" (click)="nightMode = !nightMode; emitChangeMode()"> Modo Noturno </a>
        </span>
          <span class="nav-item">
            <a class="nav-link"  (click)="openFeatures()"> Funcionalidades </a>
          </span>
        

    </div>
    </nav> 
    