

.inputText {
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus {
        border-color: #ffffff;
        outline: 0;
        box-shadow: 0 0 0 0.15rem #dcb5f07c;
    }
}

.select {
    margin-top: 10px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus {
        border-color: #ffffff;
        outline: 0;
        box-shadow: 0 0 0 0.15rem #dcb5f074;
        
    }
}




ngb-accordion::ng-deep.card::ng-deep * {  
    font-weight: 400;
    color: #000000;
    text-decoration: none;
    background-color: rgba(255, 144, 144, 0);
    padding: 2px 5px;
    font-size: 1rem;
    border-radius: 0;

}
ngb-accordion::ng-deep { 

    background: transparent;
}



ngb-accordion::ng-deep.card::ng-deep {
    border: 0px;
}

ngb-accordion::ng-deep .card::ng-deep div::ng-deep {
    border: 0ch;
}

ngb-accordion::ng-deep.card::ng-deep button:focus {
   
    box-shadow: 0 0 0 0.25rem rgba(92, 83, 91, 0.159);
}


ngb-accordion::ng-deep.card::ng-deep button {
    border: 3px solid rgba(143, 54, 54, 0);
    background-color: rgba(232, 192, 255, 0.542);
    border-radius: 65px;
    padding: 5px 18px; 
    margin: 8px 0px;
    
}


ngb-accordion::ng-deep.card::ng-deep  {
    background-color: transparent!important;
}


ngb-accordion::ng-deep.card::ng-deep * select {
    color: grey;
    text-shadow: 1px 1px 4px rgba(170, 170, 170, 0.76);
}

ngb-accordion::ng-deep.card::ng-deep * input {
    color: grey;
    text-shadow: 1px 1px 4px rgba(170, 170, 170, 0.76);
}

.accordion {
    width: 125px;
    background-color: rgba(232, 192, 255, 0.542);
    border-radius: 65px;
    margin: 8px 5px;
}


.accordion-header {
    background-color: transparent!important;
}

.accordion-button {
    background-color: transparent!important;
    padding: 10px 18px; 
    margin: 6px 3px;
    
    
}

.accordion-item {
    background-color: transparent!important;
    
}


.accordion-button::after {
    flex-shrink: 0;
    width: 0;
    height: 0;
    background-image: none;
    transition: transform .2s ease-in-out;
}

.accordion-button:not(.collapsed) {
    color: black;
    background-color: none;
    box-shadow: none;
}

.accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: none;
}

.form-btn {
    border: 3px solid rgba(143, 54, 54, 0);
    background-color: rgba(232, 192, 255, 0.542);
    border-radius: 65px;
    padding: 5px 18px; 
    margin: 8px 5px;

}