
.btn-color {
    text-align: center;
    background-color: rgba(58, 255, 186, 0.864);
    border: 1px solid rgba(132, 248, 204, 0.748);
    transition: all .40s ease-in-out;
    &:hover {
        background-color: rgba(114, 247, 200, 0.864);
    }
    &:focus {
        box-shadow: 0 0 0 0.15rem rgb(153, 240, 211);
    }
}

.btn-cancel {
    background-color: rgb(233, 233, 233);
    border: 1px solid rgb(255, 252, 239);
}

.inputText {
    background-clip: padding-box;
    border: 1px solid #ced4da;
    appearance: none;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:focus {
        border-color: #ffffff;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #dcb5f0!important;
    }
    @media (min-width: 718px) {
        width: 325px;
    }
}

.select {
    margin-top: 18px;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;

    &:focus {
        border-color: #ffffff;
        outline: 0;
        box-shadow: 0 0 0 0.25rem #dcb5f0;
        
    }
}

.material-icons {
    vertical-align: middle;
    text-align: center;
    &.test {
        color: rgba(111, 111, 111, 0.638);
    }
}