<div [ngClass]="darkmodeState ? 'darkMode' : 'normalMode'">
    <app-header (changeMode)="setModeState($event)" ></app-header>
   
    <div class="resize"> 
   <app-list-title [changetxtColor]="darkmodeState" (setDay)="setDayView($event)"> </app-list-title>
   
   
     <app-todo-list [setDarkMode]="darkmodeState" painelId="painel-morning" [period]="'Manhã'" [showDay]="day" icons="light_mode" class="theme-morning"  ></app-todo-list>
   
     <app-todo-list [setDarkMode]="darkmodeState"  painelId="painel-afternoon" [period]="'Tarde'" [showDay]="day" icons="brightness_4" class="theme-afternoon"  ></app-todo-list>
     
     <app-todo-list [setDarkMode]="darkmodeState"  painelId="painel-night" [period]="'Noite'" [showDay]="day" icons="dark_mode" class="theme-night"  ></app-todo-list>
     
   </div>
   <router-outlet></router-outlet>
   </div>