@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body { height: 100%; }
body { margin: 0;  }

.normalMode {
    background-color: #e7c3f5;
}

.darkMode {
    background-color: #0f1020;
}


li {
    list-style: none;
}



