.number-feat {
    border:1px solid rgba(97, 255, 200, 0.864); ;
    border-radius: 100%;
    padding:0px 5px;
    background-color: rgba(58, 255, 186, 0.864); ;
    color: white;

}

.btn-color {
    background-color: rgba(58, 255, 186, 0.864);
    float: right;
}

